/* UNIVERSAL */
:root{
    --primaryColor1: #F4A7A7;
    --webColor1:#A3D992;
    --motionColor1: #B4B2EF;
    --illusColor1: #99E7E5;
    --printColor1: #F0AD56;
    --highlight: #FDDC5E;
    --dark1: #333333;
    --light1: #fff;
}

body{
    margin: 0;
    font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
    background-image: url(/images/pattern5.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: 400px;
    
  }
main, footer{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
/* MARGINS */
.space1, .space2{
    grid-row: 1/ span 2;
}
.space3, .space4{
    grid-row: 3/ span 2;
}
.space2, .space4{
    grid-column: 3/4;
}
.space3, .space4{
    background: var(--dark1);
}

img{
    width:100%;
  }
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0;
    grid-gap: .5rem;;
    justify-items: self-start;
  }
h1{
    font-size: 5rem;
    margin: 0rem;
    writing-mode: sideways-lr;
    color: var(--primaryColor1);
    line-height: 2rem;
    text-transform: uppercase;
}
h2{
    color: var(--primaryColor2);
}
p{
    margin:0;
    line-height:1.75rem;
    font-weight: 600;
}
.paragraph{
    max-width: 35rem;
    display: flex;
    padding: 0 .5rem;
    padding-left: 0rem;
    align-items: flex-start;
    justify-content: center;
    margin-left: .9rem;
}
.paragraph p{
    background: rgba(255,255,255,.5);
    padding: 0 .5rem;
}

/**********
HEADER
*********/
header h1{
    writing-mode: initial;
    font-size: 1.5rem;
    text-transform: uppercase;
}
header{
    background: var(--dark1);
    padding: 2rem 5rem;
    margin-bottom: 3rem;
}

/**********
PORT ITEMS SECTON
*********/
.portItems{
    display: flex;
    flex-direction: column;
}
/* titles & buttons*/
.portItems h1{
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  writing-mode: horizontal-tb;
  background: var(--dark1);
  color: white;
}
.webButton h1{
color:var(--webColor1);
}
.motionButton h1{
    color: var(--motionColor1);
}

.portItems button{
  background: none;
  border: none;
  padding: 0;
}

/* Content for each section */
.web, .motion{
  padding: 0;
  height: 0;
  opacity: 0;
  transition: .25s;
  transition-property: all;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.do-this{
  height: auto;
  opacity: 1;
  transition: 1s;
  transition-property: all;
}

/* indiidual portfolio pieces */
.portItems .image{
  border-radius: 10px;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid transparent;
}
.web .image{
    background: var(--webColor1);
}
.motion .image{
    background: var(--motionColor1);
}
.item{
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portItems .image:hover{
  border: 3px solid var(--webColor1);
}
.item h2 {
  margin:0;
  margin-top: .75rem;
}
/**********
 BIO 
 *********/
.bio .image{
    grid-row: 1/2;
    margin-bottom: 1.5rem;
  } 
.image{
    padding-right: 2rem;
    min-width: 15rem;
  }

/**********
 CONTACT
 *********/
.contact{
background: var(--dark1);
}
.contact h2{
    color: var(--primaryColor1);
}
.form{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
label{
    width: 100%;
    resize: none;
    color: var(--light1);
    font-weight: 700;
}
#text{
    padding-left: 1rem;
}
form{
    background: rgba(51, 51, 51, .6);
}
form input, textarea{
    color: var(--light1);
    font-weight: 600;
    font-size:1rem;
    padding: .25rem;
    width: 100%;
    height: 1.5rem;
    background: none;
    border: 3px solid var(--light1);
}
textarea{
    min-height: 5rem;
}
button{
    color: var(--light1);
    padding: .5rem;
    font-weight: 700;
    margin-top: .25rem;
    font-size: 1rem;
    border: 3px solid var(--light1);
    background: none;
  }
.paragraph2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 0;
    color: var(--light1);
}
.paragraph2 p{
    background: none;
}

footer .paragraph{
    flex-direction: column;
    margin-left: 0;
}
footer .paragraph p{
    padding-left: 0;
}

/**********
MEDIA QUERIES 
*********/
@media screen and (max-width: 1000px){
    section{
        grid-template-columns: 1fr;
    }
    .paragraph2{
        grid-row: 1/-1;
        padding-top: 0;
    }
    .web, .motion{
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (max-width: 700px){
    .web, .motion{
        grid-template-columns: 1fr;
    }
}