/* UNIVERSAL */
:root{
    --primaryColor1: #FFC0CC;
    --primaryColor2: #AE6178;
    --webColor1:#A3D992;
    --motionColor1: #B4B2EF;
    --illusColor1: #99E7E5;
    --printColor1: #F0AD56;
    --highlight: #FDDC5E;
    --dark1: #333333;
    --light1: #fff;
}
html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
    background-image: url(/images/pattern5.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: 400px;
    
  }
main, footer{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
img{
    width:100%;
  }
section{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 3fr 3fr;
    padding: 2rem 1rem;
    grid-gap: 1rem;
    justify-items: self-start;
    align-items: flex-start;
  }


h1{
    font-size: 3.5rem;
    margin: 0 1rem 0 0;
    padding: 0;
    writing-mode: sideways-lr;
    text-transform: uppercase;
}
.light h1{
    color: var(--dark1);
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 0%,
        var(--primaryColor1) 0%,
        var(--primaryColor1)100%
    );
    background-repeat: no-repeat;
    background-size: 55% 97%;
    background-position: top right;
    box-shadow: 2rem -1.5rem 0 -1rem var(--primaryColor2);
}
.dark h1{
    color: var(--light1);
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 0%,
        var(--primaryColor2) 0%,
        var(--primaryColor2)100%
    );
    background-repeat: no-repeat;
    background-size: 55% 97%;
    background-position: top right;
    box-shadow: 2rem -1.5rem 0 -1rem var(--primaryColor1);
}

.dark{
    color: var(--light1);
    background: var(--dark1);
}
p{
    margin:0;
    line-height:1.75rem;
    font-weight: 600;
    max-width: 35rem;
}

.space1{
    grid-row: 5/6;
    grid-column: 3/4;
}
h4{
    margin: 0;
    padding: .25rem 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}
/**********
HEADER
*********/
header{
    background: var(--dark1);
    margin-bottom: 3rem;
    padding: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
h3, a{
    color: var(--light1);
    font-weight: 500;
    font-size: 1.75rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}
a{
    font-size: 1.25rem;
    color: var(--primaryColor1);
    padding: 1rem;
}
/**********
PORTFOLIO SECTIONS
*********/
.portItem p{
    font-size: .75rem;
    margin: 0;
    padding: 0;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portItem{
    max-width: 25vw;
    height: auto;
    padding: 0;
    border: 5px solid var(--primaryColor2 );
    color: var(--light1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0 var(--primaryColor2);
    transition: box-shadow .5s ease-in-out;
    background: var(--dark1);
  }
  .portItem:hover{
    box-shadow: .75rem .75rem 0 0 var(--primaryColor2);
  }
/**********
 BIO 
 *********/
 #bio .image{
    margin-bottom: 1.5rem;
  } 
.image{
    min-width: 15rem;
  }

/**********
 CONTACT
 *********/
.form{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
label{
    width: 100%;
    resize: none;
    color: var(--dark1);
    font-weight: 700;
}
#text{
    padding-left: 1rem;
}
form{
    background: rgba(255, 255, 255, 0.6);
}
form input, textarea{
    color: var(--dark1);
    font-weight: 600;
    font-size:1rem;
    padding: .25rem;
    width: 100%;
    height: 1.5rem;
    background: none;
    border: 3px solid var(--dark1);
}
textarea{
    min-height: 5rem;
}
button{
    color: var(--dark1);
    padding: .5rem;
    font-weight: 700;
    margin-top: .25rem;
    font-size: 1rem;
    border: 3px solid var(--dark1);
    background: none;
  }

footer {
    flex-direction: column;
    margin: 0;
}
footer p{
    padding-left: 0;
}
.content{
    grid-column: 2/3;
    padding: 1rem;
}

/**********
MEDIA QUERIES 
*********/
@media screen and (min-width: 1700px){
    
}

@media screen and (max-width: 1000px){
    section{
        grid-template-columns: 1fr 5fr;
    }
    #bio p{
        grid-column: 2/3;
    }
}
@media screen and (max-width: 700px){
    section{
        grid-template-columns: 1fr;
    }
    #bio p{
        grid-column: 1/2;
    }
    .light h1, .dark h1{
        margin: 0;
        font-size: 3rem;
        writing-mode: horizontal-tb;
        background-size: 100% 60%;
        background-position: right bottom;
    }
    .light h1{
        box-shadow: 1rem 1.2rem 0 -.7rem var(--primaryColor2);
    }
    .dark h1{
        box-shadow: 1rem 1.2rem 0 -.7rem var(--primaryColor1);
    }
}