/* UNIVERSAL */
:root{
    --primaryColor1: #FFC0CC;
    --primaryColor2: #AE6178;
    --webColor1:#A3D992;
    --motionColor1: #B4B2EF;
    --illusColor1: #99E7E5;
    --printColor1: #F0AD56;
    --highlight: #FDDC5E;
    --dark1: #333333;
    --light1: #fff;
}
html {
    scroll-behavior: smooth;
  }

body{
    margin: 0;
    font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
    background-image: url(/images/pattern5.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: 400px;
    
  }
main, footer{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.portPage main{
    grid-template-columns: 1fr;
}
img{
    width:100%;
  }
section{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: .5fr 3fr 3fr;
    padding: 2rem 1rem;
    grid-gap: 1rem;
    justify-items: self-start;
    align-items: flex-start;
  }


h1{
    font-size: 2rem;
    margin: 0 1rem 0 0;
    padding: 0;
    writing-mode: sideways-lr;
    text-transform: uppercase;
}
.light h1{
    color: var(--dark1);
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 0%,
        var(--primaryColor1) 0%,
        var(--primaryColor1)100%
    );
    background-repeat: no-repeat;
    background-size: 60% 98%;
    background-position: top right;
    box-shadow: 1.3rem -.8rem 0 -.5rem var(--primaryColor2);
}
.dark h1{
    color: var(--light1);
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 0%,
        var(--primaryColor2) 0%,
        var(--primaryColor2)100%
    );
    background-repeat: no-repeat;
    background-size: 60% 98%;
    background-position: top right;
    box-shadow: 1.3rem -.8rem 0 -.5rem var(--primaryColor1);
}
h3{
    margin: 0;
    color: var(--primaryColor1);
    font-size: 1.25rem;
}
h4{
    margin: 0;
    padding: .25rem 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}
h5{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    display: none;
}
.dark{
    color: var(--light1);
    background: var(--dark1);
}
p{
    margin:0;
    line-height:1.75rem;
    font-weight: 600;
    max-width: 35rem;
}

.space1{
    grid-row: 1/2;
    grid-column: 3/4;
}

.material-icons{
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
  }

  /* dark links */
.dark a{
    color: var(--light1);
    text-transform: none;
  }
  .dark a span{
    text-decoration: underline;
  }
.dark a:hover{
    color: var(--primaryColor1);
    background: none;
}

/**********
HEADER
*********/
header{
    background: var(--dark1);
    margin-bottom: 3rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header h3{
    margin: 1em 0 0 0;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
a{
    color: var(--light1);
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    color: var(--light1);
    padding: .5em 1em;
}
a:hover{
    background: linear-gradient(
    to top,
    transparent 0%,
    transparent 0%,
    var(--primaryColor2) 0%,
    var(--primaryColor2) 100%
  );
  background-repeat: no-repeat;
  background-size: 90%  40%;
  background-position: 60% 75%;
}


/**********
 ITEMS
 *********/
.items{
    grid-column: 2/3;
    grid-template-columns: .5fr 5fr;
}
.items div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
.items h3{
    text-transform: none;
    font-size: 1rem;
    font-weight: 500;
    margin: .25rem 0;
}
.items a{
    text-decoration: none;
    max-width: 25vw;
    height: auto;
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: center;
    background: #333;
    color: white;
    box-shadow: 0 0 0 0 #AE6178;
    transition: box-shadow .25s ease-in-out;
    border: 5px solid #AE6178;
    border-radius: 5px;
}  
section a:hover{
    box-shadow: .5rem .5rem 0 0 #AE6178;

}

/**********
 BIO 
 *********/
 #bio .image{
    margin-bottom: 1.5rem;
  } 
.image{
    min-width: 15rem;
  }

/**********
 CONTACT
 *********/
.form{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}
label{
    width: 100%;
    resize: none;
    color: var(--light1);
    font-weight: 700;
}
#text{
    padding-left: 1rem;
}
form input, textarea{
    color: var(--light1);
    font-weight: 600;
    font-size:1rem;
    padding: .25rem;
    width: 100%;
    height: 1.5rem;
    background: none;
    border: 3px solid var(--light1);
}
textarea{
    min-height: 5rem;
}
button{
    color: var(--light1);
    padding: .5rem;
    font-weight: 700;
    margin-top: .25rem;
    font-size: 1rem;
    border: 3px solid var(--light1);
    background: none;
  }

/**********
FOOTER 
*********/
footer {
    flex-direction: column;
    margin: 0;
}
.content a{
    color: white;
    text-transform: none;
    font-size: 1rem;
    padding-left: .5rem;
}
footer div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer p{
    padding-left: 0;
}

/**********
Detailed Port Items Page
*********/

.itemSection{
  display: grid;
  grid-template-columns: 20% .3fr 7fr 20%;
  align-items: flex-start;
  /* min-height: 100vh; */
  /* margin: 4em 0; */

}
/* images */
.itemSection section{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    justify-self: start;
    margin: 1rem 0 1rem 1rem;
  }
.itemSection img{
    width: 100%;
    border: 5px solid var(--primaryColor2);
}
  /* dark margin */
.darkspace{
    background: #333;
    grid-column: 4/5;
    grid-row: 1/2;
    height: 100%;
  }
/* header */
.itemSection h1{
    grid-column: 2/3;
    grid-row: span 2;
}
/* Metadata text */
.info{
  grid-column: 3/4;
  background: #333;
  color: white;
  height: 100%;
  margin-left: 1rem;
}
.info p, .info a{
  padding: .75em;
  display: grid;
  grid-template-columns: 1.5em 90%;
  grid-gap: .5em;
}
.info a{
  padding-bottom: 1em;
}
/* Back Button */
.itemSection a[href^="index.html"] {
  color: var(--primaryColor2);

  grid-column: 3/4;
  justify-self: end;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
.itemSection a[href^="index.html"]:hover{
  color: var(--dark1);
  background: linear-gradient(
    to top,
    transparent 0%,
    transparent 0%,
    var(--primaryColor1) 0%,
    var(--primaryColor1) 100%
  );
  background-repeat: no-repeat;
  background-size: 75%  40%;
  background-position: 50% 65%;
}


/**********
MEDIA QUERIES 
*********/
@media screen and (max-width: 2000px){
    .itemSection section{
      grid-template-columns: 1fr 1fr;
    }
    .itemSection{
      grid-template-columns: 1fr .3fr 7fr 1fr;
    }
  }

@media screen and (max-width: 1000px){
    section{
        grid-template-columns: 1fr 5fr;
    }
    .itemSection section{
        grid-template-columns: 1fr;
      }
    .itemSection{
    grid-template-columns: .5fr .5fr 7fr .5fr;
    }
    #bio p{
        grid-column: 2/3;
    }
}
@media screen and (max-width: 700px){
    section{
        grid-template-columns: 1fr;
    }
    #bio p{
        grid-column: 1/2;
    }
    .light h1, .dark h1{
        margin: 0;
        font-size: 3rem;
        writing-mode: horizontal-tb;
        background-size: 100% 60%;
        background-position: right bottom;
    }
    .light h1{
        box-shadow: 1rem 1.2rem 0 -.7rem var(--primaryColor2);
    }
    .dark h1{
        box-shadow: 1rem 1.2rem 0 -.7rem var(--primaryColor1);
    }
    .itemSection{
        grid-template-columns: .5fr 7fr .5fr;
        }
    .info, h1, .itemSection section{
        grid-column: 2/3;
        margin-top: 1rem;
    }
    .darkspace{
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: 1rem;
    }
}