
~$Metadata.xlsx
images/web/.DS_Store
images/print/thisthat/.DS_Store
images/print/paradeofpaws/.DS_Store
images/print/eyewideopen/.DS_Store
images/print/.DS_Store
images/photography/.DS_Store
images/illustration/.DS_Store
images/.DS_Store
.DS_Store
